########## FILES ##########

*.bat
*.css
*.crt
*.debug
*.gitkeep
*.gz
*.html
*.js
*.json
*.lnk
*.log
*.map
*.pem
*.svg
*.ts
*.txt
*.url
#*.zip

########## FOLDERS ##########

#***/.backup/***
***/.dist/***
***/.example/***
***/.log/***
***/.security/***
***/.web/***

***/managed_node_modules/***
***/node_modules/***

########## ROOT FILES ##########

.CMD.exe
.conf--framework--value.json
